@import "reset.css";


:root {
    --color-1: #053760;
    --color-2: #5b7fa7;
    --color-3: #B3DBFE;

    --color-txt-1:#fcfcfc;
    --color-txt-2:#032643;
}

/* .all2{
    --color-1:#ab386a;
    --color-2:#b8688b;
    --color-3:#eba4c3;
} */


/* 整个画布 */
.wrapper {
    width: 100%;
    height: 900px;
    position: relative;
}

/* 封面 */
#covercardNav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color-1);
    z-index: 2;
}

#covercardNav .cover {
    width: 300px;
    height: 600px;
    margin: auto;
    margin-top: 120px;
    /* background: rgb(136, 96, 96); */
}

#covercardNav .cover .info {
    width: 300px;
    height: 80px;
    font-size: 24px;
    line-height: 80px;
    text-align: center;
    color: #aaa;
    /* background: rgb(100, 74, 74); */
}

#covercardNav .cover nav {
    width: 300px;
}

#covercardNav .cover nav ul {
    /* background: rgb(110, 35, 35); */
    width: 300px;
    margin: auto;
}

#covercardNav .cover li {
    width: 300px;
    height: 30px;
    line-height: 30px;

    margin-top: 20px;
    text-align: center;
}

#covercardNav .cover li a {
    font-size: 30px;
    font-weight: bold;
    color: var(--color-txt-1);

}

#covercardNav .cover li a:hover {
    text-shadow: 0 0 20px var(--color-txt-1);
}

/* 比如已经选中卡片1，则其他链接变色并且失去链接效果 */
#covercardNav .cover li a.here:link,
#covercardNav .cover li a.here:visited,
#covercardNav .cover li a.here.hover,
#covercardNav .cover li a.here.active {
    text-shadow: 0 0 20px #fff;
}

#covercardNav .cover button {
    display: block;
    background: var(--color-3);
    box-shadow: 0px 0px 2px var(--color-2);
    width: 100px;
    height: 30px;
    color: #3c3c3c;
    margin: auto;
    margin-top: 30px;
    border-radius: 3px;
}

#covercardNav .cover button:hover {
    background: var(--color-2);
    color: var(--color-txt-1);
}

.wrapper{
    width: 1304px;
}
/* 选择小瓶子导航栏 */
.wrapper .leftPart{
    width: 1056px;
}
.wrapper .leftPart .cardNav {
    float: left;
    margin-top: 80px;
    margin-left: 120px;
    width: 166px;
}

.wrapper .leftPart .cardNav li button {
    width: 166px;
    height: 40px;
    margin-bottom: 20px;
    border-radius: 8px;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    background-color: var(--color-2);
    box-shadow: 0 0 5px var(--color-2);
    white-space: nowrap;
    /* 不允许换行 */
    overflow: hidden;
    /* 超出部分...显示 */
    text-overflow: ellipsis;
    cursor: pointer;
}

.wrapper .leftPart .cardNav li button a {
    display: inline-block;
    width: 166px;
    height: 40px;
    border-radius: 8px;
    color: var(--color-txt-2);
}
.wrapper .leftPart .cardNav li button:hover a{
    text-shadow: 0 0 20px #fff;
    color: var(--color-txt-1);
}
/* 比如已经选中卡片1，则其他链接变色并且失去链接效果 */
.wrapper .leftPart .cardNav li button a.here:link,
.wrapper .leftPart .cardNav li button a.here:visited,
.wrapper .leftPart .cardNav li button a.here.hover,
.wrapper .leftPart .cardNav li button a.here.active {
    text-shadow: 0 0 20px #fff;
    color: var(--color-txt-1);
}

/* 整个卡片部分区 */
.wrapper #cardPart {
    float: right;
    width: 688px;

    margin-top: 40px;
}

/* 瓶子放置区 */
/* 卡片 */
.wrapper #cardPart .card {
    
    width: 688px;
    height: 752px;
    background-color: var(--color-2);
    box-shadow: 0px 0px 20px var(--color-2);
}

.wrapper #cardPart .card .cardName {
    width: 688px;
    height: 64px;
    background: var(--color-1);
    font-size: 30px;
    line-height: 64px;
    font-weight: bold;
    text-align: center;
    color: var(--color-txt-1);
}


/* 每个瓶子的区 */
.wrapper ul.wrapperUl li.bottlePart {
    float: left;
    margin: 20px 0px 0px 36px;
    width: 72px;
    height: 144px;
    /* background: #ccc; */
}

/* 每个瓶子 */
.wrapper ul.wrapperUl li.bottlePart .bottle {
    width: 64px;
    height: 100px;
    border: 6px solid var(--color-txt-2);
    border-bottom: transparent;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    cursor: pointer;
    /* background: rgb(218, 237, 255); */
    /* 将瓶子倒立显示 */
    transform: rotate(180deg);
    overflow: hidden;
}

/* 水 */
.wrapper ul.wrapperUl li.bottlePart .bottle li {
    width: 64px;
    height: 10px;

    background: var(--color-3);

}

.wrapper ul.wrapperUl li.bottlePart .tag {
    width: 72px;
    height: 32px;
    font-size: 18px;
    font-family: "Comic Sans MS",'Hiragino Sans GB', sans-serif;
    text-align: center;
    line-height: 18px;
    margin-top: 4px;
    margin-left: 2px;
    cursor: pointer;
    color: var(--color-txt-1);
}

.wrapper ul.wrapperUl li.bottlePart .tag:hover {
    background: var(--color-1);
}

/* 功能按钮区 */
.wrapper .buttonPart {
    width: 166px;
    height: 256px;
    /* background-color: #ccc; */
    margin-top: 80px;

}

.wrapper .buttonPart .button {
    width: 166px;
    height: 40px;
    margin-bottom: 20px;
    border-radius: 8px;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    background-color: var(--color-2);
    box-shadow: 0 0 5px var(--color-2);
    cursor: pointer;
    color: var(--color-txt-2);
}

.wrapper .buttonPart .button a {
    display: inline-block;
    width: 166px;
    height: 40px;
    border-radius: 8px;
    color: var(--color-txt-2);
}

.wrapper .buttonPart .button:hover a {

    color: var(--color-txt-1);
}

.wrapper .buttonPart .button:hover {
    background: var(--color-1);
    color: var(--color-txt-1);
}

.wrapper .buttonPart #delCard {
    display: none;
}

/* 新卡片 */
#cardNew .cardName:hover{
    cursor: pointer;
}